/* font */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

* {
	font-family: 'Nanum Gothic', sans-serif;
	color: #40798C;
}

.form input[type=text], select {
	border: 2px solid #40798C;
	width: 75%;
}

#map {
	margin-top: 5%;
}

#rentmap {
	height: 350px;
	width: 425px;
}

p {
	text-align: center;
	font-weight: bold;
}

#search {
	padding: 1%;
	text-align: center;
}

#form-check {
	padding-top: 2%;
}

.illustration {
	margin: 0px auto;
	text-align: center;
}

input[type=text] {
  padding: 6px;
  /*border: none;*/
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.box1 {
	grid-area: box1;
}

.box2 {
	grid-area: box2;
	background-color: #ffffff;
}

.box3 {
	grid-area: box3;
	background-color: #ffffff;

}

.box4 {
	grid-area: box4;
	background-color: #ffffff;
}

.box5 {
	grid-area: box5;
	background-color: silver;
	color: white;
}

.box5 p {
	color: white;
}

.modal-close {
	float: left;
}

.centering {
	position: relative;
	vertical-align: middle;
	height: 61px;
	line-height: 61px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(13, 61px);
	grid-template-areas:
	"box1	box1	box1	box1	box1	box1	box1	box1	box1	box1"
	".		box3	box3	box3 	box3	box3	box3	box3 	box3	.	"
	".		box3	box3	box3 	box3	box3	box3	box3 	box3	.	"
	".		box3	box3	box3 	box3	box3	box3	box3 	box3	.	"
	".		box4	box4	box4 	box4	box4	box4	box4 	box4	.	"
	".		box4	box4	box4 	box4	box4	box4	box4 	box4	.	"
	".		box4	box4	box4 	box4	box4	box4	box4 	box4	.	"
	".		box4	box4	box4 	box4	box4	box4	box4 	box4	.	"
	".		box4	box4	box4 	box4	box4	box4	box4 	box4	.	"
	".		box4	box4	box4 	box4	box4	box4	box4 	box4	.	"
	".		box4	box4	box4 	box4	box4	box4	box4 	box4	.	"
	".		.		.		.		.		.		.		.		.		.	"
	"box5	box5	box5	box5	box5	box5	box5	box5	box5	box5";
}

@media only screen and (max-width: 500px) {
  input[type=text]: {
     font-size: smaller;
  }
}

@media (min-width: 768px) {
	.navbar-brand {
    	position: absolute;
    	left: 50%;
    	transform: translateX(-50%);
	}

	.login-button {
		position: absolute;
		right: 1%;
	}

	#map-iframe {
		height: 400px;
	}
}

@media (max-width: 767px) {

	#map-iframe {
		height: 200px;
		max-width: 100px;
	}

	#rentmap {
		height: 400px;
		width: 300px;
	}
}
