@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');

* {
	font-family: 'Nanum Gothic', sans-serif;
}

ul a {
	color: black;
	text-decoration: none;
}

ul a:link {
	color: black;
	text-decoration: none;
}

ul a:hover {
	color: #40798C;
	text-decoration: none;
}

ul a:active {
	color: black;
	text-decoration: none;
}

.navbar {
	z-index: 1000;
}

.box1 {
	grid-area: box1;
}

.box2 {
	grid-area: box2;
	background-color: green;
}

.box3 {
	grid-area: box3;
}

.box4 {
	grid-area: box4;
}

.box4 button {
	text-align: center;
}

.box5 {
	grid-area: box5;
	background-color: silver;
	color: white;
	text-align: center;
}

.box6 {
	grid-area: box6;
	display: inline-block;
}

.box7 {
	grid-area: box7;
	text-align: center;
	color: #40798C;
}

.box7 h2 {
	margin-top: -5px;
}

.centering {
	position: relative;
	vertical-align: middle;
	height: 61px;
	line-height: 61px;
}

.message {
	position: relative;
	vertical-align: middle;
	height: 20px;
	line-height: 20px;
}

.panel-body p {
	vertical-align: middle;
}

.modal-close {
	float: left;
}

.message p {
	display: inline;
}

.message-time {
	float: right;
}

.message-sender {
	float: left;
}

#new-message-button {
	background-color: #40798C;
	border-color: #40798C;
}

#delete-button {
	float: right;
}

.grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(12, 61px);
	grid-template-areas:
	"box1	box1	box1	box1	box1	box1	box1	box1	box1	box1"
	".		.		.		.	 	.		.		.		.	 	.		.	"
	".		.		box3	box3	box7	box7	box4	box4 	.		.	"
	".		.		box6	box6 	box6	box6	box6	box6 	.		.	"
	".		.		box6	box6 	box6	box6	box6	box6 	.		.	"
	".		.		box6	box6 	box6	box6	box6	box6 	.		.	"
	".		.		box6	box6 	box6	box6	box6	box6 	.		.	"
	".		.		box6	box6 	box6	box6	box6	box6 	.		.	"
	".		.		box6	box6 	box6	box6	box6	box6 	.		.	"
	".		.		box6	box6 	box6	box6	box6	box6 	.		.	"
	".		.		.		.	 	.		.		.		.	 	.		.	"
	"box5	box5	box5	box5	box5	box5	box5	box5	box5	box5";
	background: #ededed;
}

@media (min-width: 768px) {
	.navbar-brand {
    	position: absolute;
    	left: 50%;
    	transform: translateX(-50%);
	}

	.login-button {
		position: absolute;
		right: 1%;
	}
}

@media (max-width: 800px) {
	.message-time {
		visibility: hidden;
	}

	.box6 p {
		font-size: smaller;
	}
}

@media (max-width: 767px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(12, 61px);
		grid-template-areas:
		"box1	box1	box1	box1	box1	box1"
		".		.		box7	box7	.		.	"
		".		box3	box3	box4 	box4	.	"
		".		box6	box6	box6 	box6	.	"
		".		box6	box6	box6 	box6	.	"
		".		box6	box6	box6 	box6	.	"
		".		box6	box6	box6 	box6	.	"
		".		box6	box6	box6 	box6	.	"
		".		box6	box6	box6 	box6	.	"
		".		box6	box6	box6 	box6	.	"
		".		.		.		.		.		.	"
		"box5	box5	box5	box5	box5	box5";
	}

	.btn {
		font-size: 9px;
	}

	.box5 p {
		font-size: smaller;
	}

	.box6 p {
		font-size: 9px;
	}

	.message {
		height: 10px;
		line-height: 10px;
	}

	.message-time {
		visibility: hidden;
	}

	a {
		height: 45px;
		padding: 5px;
	}
}

@media (max-height: )
