.box1 {
	grid-area: box1;
}

.box2 {
	grid-area: box2;
	background-color: green;
}

.box3 {
	grid-area: box3;
	text-align: center;
	background-color: orange;
}

.box4 {
	grid-area: box4;
	background-color: red;
}

.box5 {
	grid-area: box5;
	background-color: yellow;
}

.box6 {
	grid-area: box6;
	text-align: center;
	background-color: pink;
}

.box7 {
	grid-area: box7;
	background-color: purple;
}

.box8 {
	grid-area: box8;
	background-color: grey;
}

.grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(12, 61px);
	grid-template-areas:
	"box1	box1	box1	box1	box1	box1	box1	box1	box1	box1"
	".		.		.		.		.		.		.		.		.		.	"
	".		.		.		.		.		.		.		.		.		.	"
	".		box2	box2	box2 	.		box4	box4	box4 	box4	.	"
	".		box2	box2	box2 	.		box4	box4	box4 	box4	.	"
	".		box2	box2	box2 	.		box4	box4	box4 	box4	.	"
	".		.		.		.		.		.		.		.		.		.	"
	".		box3	box3	box3 	.		box6	box6	box6 	box6	.	"
	".		.		.		.		.		.		.		.		.		.	"
	".		.		.		.		.		.		.		.		.		.	"
	".		.		.		.		.		.		.		.		.		.	"
	"box5	box5	box5	box5	box5	box5	box5	box5	box5	box5";
}


@media (min-width: 768px) {
	.navbar-brand {
    	position: absolute;
    	left: 50%;
    	transform: translateX(-50%);
	}

	.login-button {
		position: absolute;
		right: 1%;
	}
}

@media (max-width: 767px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(12, 61px);
		grid-template-areas:
		"box1	box1	box1	box1	box1	box1"
		".		.		.		.	 	.		.	"
		".		.		.		.	 	.		.	"
		".		.		box2	box2 	.		.	"
		".		.		box2	box2 	.		.	"
		".		.		box3	box3 	.		.	"
		".		box4	box4	box4 	box4	.	"
		".		.		.		.	 	.		.	"
		".		.		box6	box6 	.		.	"
		".		.		.		.	 	.		.	"
		".		.		.		.	 	.		.	"
		"box5	box5	box5	box5	box5	box5";
	}
}