@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');

* {
	font-family: 'Nanum Gothic', sans-serif;
}

.box1 {
	grid-area: box1;
}

.box2 {
	grid-area: box2;

}

.box3 {
	grid-area: box3;
}

.box4 {
	grid-area: box4;
}

.box5 {
	grid-area: box5;
	background-color: silver;
	text-align: center;
	color: white;
}

.box6 {
	grid-area: box6;
}

.box7 {
	grid-area: box7;
}

.box7 textarea {
	margin-top: 20px;
	margin-bottom: 5px;
}

.box8 {
	grid-area: box8;
}

.box8 i {
	color: #40798C;
}

.box9 {
	grid-area: box9;
}

.box8, .box9 i {
	height: 61px;
	line-height: 61px;
	margin-left: 15px;
}

.box8, .box9 a {
	color: #40798C;
	text-decoration: none;
}

.box8, .box9 a:link {
	color: #40798C;
	text-decoration: none;
}

.box8, .box9 a:hover {
	color: #40798C;
	text-decoration: none;
	opacity: 0.5;
}

.box8, .box9 a:active {
	color: #40798C;
	text-decoration: none;
}

.modal-close {
	float: left;
}

.centering {
	position: relative;
	vertical-align: middle;
	height: 61px;
	line-height: 61px;
}

/* Chat containers */
.container {
	padding: 16px;
	background-color: #808080;
	color: white;
	border-radius: 15px;
	opacity: 0.8;
}

/* Darker chat container */
.darker {
	background-color: #40798C;
	color: white;
	border-radius: 15px;
	opacity: 0.8;
}

/* Style images */
.container img {
	float: left;
	max-width: 60px;
	width: 100%;
	margin-right: 20px;
	border-radius: 50%;
}

/* Style the right image */
.container img.right {
	float: right;
	margin-left: 20px;
	margin-right:0;
}

/* Style time text */
.time-right {
	float: right;
	color: white;
}

/* Style time text */
.time-left {
	float: left;
	color: white;
}

.grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(12, 61px);
	grid-template-areas:
	"box1	box1	box1	box1	box1	box1	box1	box1	box1	box1"
	".		.		box2	box2 	box2	.		.		.		.		.	"
	".		.		box2	box2 	box2	.		.		.		.		.	"
	".		.		.		.		.		box3	box3	box3 	.		.	"
	".		.		.		.		.		box3	box3	box3 	.		.	"
	".		.		box4	box4 	box4	.		.		.		.		.	"
	".		.		box4	box4 	box4	.		.		.		.		.	"
	".		.		.		.		.		box6	box6	box6 	.		.	"
	".		.		.		.		.		box6	box6	box6 	.		.	"
	".		.		box7	box7 	box7	box7	box7	box8 	.		.	"
	".		.		box7	box7 	box7	box7	box7	box9 	.		.	"
	"box5	box5	box5	box5	box5	box5	box5	box5	box5	box5";
	background: #ededed;
}

@media (min-width: 768px) {
	.navbar-brand {
    	position: absolute;
    	left: 50%;
    	transform: translateX(-50%);
	}

	.login-button {
		position: absolute;
		right: 1%;
	}
}

@media (max-width: 767px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(12, 61px);
		grid-template-areas:
		"box1	box1	box1	box1	box1	box1"
		"box2	box2	box2	.		.		.	"
		"box2	box2	box2	.		.		.	"
		".		.		.		box3	box3	box3"
		".		.		.		box3	box3	box3"
		"box4	box4	box4	.		.		.	"
		"box4	box4	box4	.		.		.	"
		".		.		.		box6	box6	box6"
		".		.		.		box6	box6 	box6"
		"box7	box7	box7	box7	box7	box8"
		"box7	box7	box7	box7	box7	box9"
		"box5	box5	box5	box5	box5	box5";
	}

	.box5 p {
		font-size: smaller;
	}

	.container p, span {
		font-size: smaller;
	}

	.container img {
		max-width: 40px;
	}
}
