@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');

* {
	font-family: 'Nanum Gothic', sans-serif;
}

.box1 {
	grid-area: box1;
}

.box2 {
	grid-area: box2;

}

.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centering {
	position: relative;
	vertical-align: middle;
	height: 61px;
	line-height: 61px;
}

#doodle {
	max-height: 150px;
	max-width: 200px;
}

.box3 {
	grid-area: box3;
	text-align: center;
}

.box3 h1 {
	color: #40798C;
}

.box4 {
	grid-area: box4;
	text-align: center;
}

.box4 h2 {
	color: #40798C;
}

.box5 {
	grid-area: box5;
	background-color: silver;
	color: white;
	text-align: center;
}

.box6 {
	grid-area: box6;
	text-align: center;
}

.box7 {
	grid-area: box7;
	background-color: purple;
}

.box8 {
	grid-area: box8;
	background-color: grey;
}

.grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(12, 61px);
	grid-template-areas:
	"box1	box1	box1	box1	box1	box1	box1	box1	box1	box1"
	".		.		.		.		.		.		.		.		.		.	"
	".		.		.		.		.		.		.		.		.		.	"
	".		.		.		.		.		.		.		.		.		.	"
	".		box2	box2	box2 	.		box4	box4	box4 	box4	.	"
	".		box2	box2	box2 	.		box4	box4	box4 	box4	.	"
	".		box2	box2	box2 	.		box4	box4	box4 	box4	.	"
	".		box3	box3	box3	.		box6	box6	box6 	box6	.	"
	".		.		.		.	 	.		.		.		.		.		.	"
	".		.		.		.		.		.		.		.		.		.	"
	".		.		.		.		.		.		.		.		.		.	"
	"box5	box5	box5	box5	box5	box5	box5	box5	box5	box5";
	background: #ededed;
}


@media (min-width: 768px) {
	.navbar-brand {
    	position: absolute;
    	left: 50%;
    	transform: translateX(-50%);
	}

	.login-button {
		position: absolute;
		right: 1%;
	}
}

@media (max-width: 767px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(12, 61px);
		grid-template-areas:
		"box1	box1	box1	box1	box1	box1"
		".		.		.		.	 	.		.	"
		".		.		box2	box2 	.		.	"
		".		.		box2	box2 	.		.	"
		".		.		box2	box2	.		.	"
		".		.		box3	box3 	.		.	"
		".		box4	box4	box4 	box4	.	"
		".		.		.		.	 	.		.	"
		".		.		.		.	 	.		.	"
		".		box6	box6	box6 	box6	.	"
		".		.		.		.	 	.		.	"
		"box5	box5	box5	box5	box5	box5";
	}

	#doodle {
		height: 300px;
		width: 400px;
		margin-right: 20px;
	}
}